.site-footer .footer-b {
  background: #231815;
  color: var(--white-color);
  font-weight: 200;
}

.site-footer .footer-t {
  background-color: #f2f2f2;
  padding: 80px 0;
  text-align: center;
}

.site-footer .footer-t .site-logo {
  margin-bottom: 25px;
}

.site-footer .footer-t .menu-wrap .tertiary-nav {
  width: 100%;
  padding: 0;
  margin: 0;
}

.site-footer .footer-t ul {
  padding: 0;
  margin: 0;
}

.site-footer .footer-t ul li {
  display: inline-block;
  padding: 0 15px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

.site-footer .footer-t ul li a {
  padding: 0;
  color: var(--black-color);
}

.site-footer .footer-t .menu-wrap .tertiary-nav ul li a:hover {
  color: var(--primary-color);
}

.site-footer .footer-t .wp-block-column {
  flex-grow: 0;
  flex-basis: content;
}

.site-footer .footer-t .social-list .widget {
  margin: 0;
}

.site-footer .footer-t .social-list :where(.wp-block-columns) {
  margin-bottom: 0;
}

.site-footer .footer-t .social-list :where(.wp-block-columns.is-layout-flex) {
  justify-content: center;
  gap: 0
}

.site-footer .footer-t .social-list .wp-block-image {
  margin: 0;
  margin-top: 15px;
  padding: 0 10px;
}

.site-footer .footer-t .social-list .wp-block-image img{
  transform: translateY(0px);
  transition-duration: .3s;
  transition-property: transform;
  cursor: pointer;
  width: 50px;
  border-radius: 100%;
}

.site-footer .footer-t .social-list  .wp-block-image img:hover {
  transform: translateY(-5px);
}
