.content-area article .entry-title a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
} 
.content-area   article .entry-posted-date{
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}
.content-area   article .infomation{
    align-items: center !important;
    font-size: 14px;
    background: rgb(0 0 0 / 3%);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    width: fit-content;
} 
.top-job-section .row div.job_listings article .company-logo{
    width: 150px;
    border: 2px solid #eeee;
}

.site-main .entry-content div.job_listings div.job_listings article .company-logo {
    border: 2px solid #eeee;
}
.site-main .entry-content div.job_listings div.job_listings article .company-name:before{
    content: "";
}
.site-main .entry-content div.job_listings div.job_listings article .company-name {
    font-size: 14px;
    color: black;
}
.site-main .entry-content div.job_listings div.job_listings article .company-address a{
    text-decoration: none;
    font-size: 14px;
    color: black;
}
.job-excerpt .detail-excerpt {
    margin-bottom: 0 !important;
}
.site-main .entry-content div.job_listings div.job_listings {
    display: flex;
    flex-wrap: wrap;
}
.site-main .entry-content div.job_listings div.job_listings article {
    flex: none;
    width: calc(50% - 15px);
    margin-bottom: 30px;
}
.site-main .entry-content div.job_listings div.job_listings article:nth-child(odd) {
    margin-right: 30px;
}
.site-main .entry-content div.job_listings div.job_listings article {
    flex-direction: column;
}
.site-main .entry-content div.job_listings div.job_listings article .top{
    display: flex;
    width: 100%;
    align-items: center;    
}
.job_filters {
    margin-bottom: 20px;
}
.site-main .entry-content div.job_listings div.job_listings article .company-logo {
    background: none;
}

/* .text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
            line-clamp: 1; 
    -webkit-box-orient: vertical;
 } */