.rightsidebar #primary.content-area.custom {
  width: 100%;
  padding-right: unset;
  background-color: #f5f5f7;
}
.module-5 img {
  aspect-ratio: 1 / 1;
  height: unset !important;
}

.module-5 .content-wrap {
  padding: 0 !important;
  padding-left: 20px !important;
}

.module-5 article {
  box-shadow: unset !important;
  margin-bottom: unset !important;
}

.module-5 .entry-title {
  font-size: 1rem !important;
}

.module-5 .readmore-link {
  color: orangered;
}

.module-5 p {
  font-size: 13px !important;
}

.module-5 a {
  font-size: 14px !important;
}

.search_location.custom {
  position: relative;
}

.search_location.custom::before {
  content: url(../images/room.png);
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  left: 25px;
}
